/* ========= CHART JS ========= */
#SvgjsLine1184 {
  display: contents !important;
}
#chart {
  width: 80%;
}
.apexcharts-toolbar {
  display: none !important;
}
#SvgjsPath1019 {
  width: 30px !important;
}
.apexcharts-bar-area:hover path {
  filter: none !important;
}
.chart_box {
  box-shadow: 0px 0px 20px 4px #e2e2e240;
  border-radius: 24px;
  max-width: 570px;
  width: 100%;
  height: 400px;
}
/* ============================= */
/* ========== SECOND CHART ======= */
#linechart {
  width: 90%;
}
.apexcharts-toolbar {
  display: none !important;
}
#SvgjsPath1019 {
  width: 30px !important;
}
.apexcharts-bar-area:hover path {
  filter: none !important;
}
/* ======= CHART 3 ====== */
.pie_chart {
  max-width: 330px;
  width: 100%;
  max-height: 360px;
  height: 100%;
}
.active_abs {
  position: absolute;
  top: 15%;
  left: 20%;
}
.total_abs {
  position: absolute;
  bottom: 20%;
  left: 40%;
}
.industry_chart_bg {
  background-image: url("/assets/images/png/industry_chart_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  max-width: 522px;
  height: 100%;
  max-height: 476px;
  padding-top: 30px;
}
/* =================== */
#chartdiv {
  width: 350px;
  height: 370px;
}
.success_text_abs {
  position: absolute;
  top: 4%;
  left: 30%;
}
.failure_text_abs {
  position: absolute;
  bottom: 5%;
  left: 25%;
}
/* =================== */
/* ========== */
#donut-chart {
  width: 350px !important;
  height: 370px !important;
}
.content h1 {
  font-weight: 300;
  text-align: center;
}

.content svg {
  max-width: 500px !important;
  width: 100%;
  max-height: 500px !important;
  height: 100%;
  margin: 0 auto;

  text.middle {
    font-family: "Graphik";
    font-weight: 300;
    font-size: 10px !important;
  }

  .nvd3.nv-pie .nv-pieLabels text {
    font-family: "Graphik";
    font-size: 12px !important;
    font-weight: 300;
    fill: #fff !important;
  }
}
.three_lines_abs {
  position: absolute !important;
  bottom: 5% !important;
  right: 23% !important;
  max-width: 200px;
}
.single_lines_abs {
  position: absolute !important;
  top: 19% !important;
  left: 30% !important;
  max-width: 200px;
}
/* ================ */
/* =========== */
#guesting-chart{
  width: 400px !important;
  height: 400px !important;
}
.guesting svg{
  max-width: 500px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  margin: 0 auto;
}
/* =========== */
.height_box {
  height: 106px;
}
.select_box {
  width: 115px;
  height: 28px;
}
.option_box {
  width: 115px;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
  z-index: 3;
  top: 105%;
  box-shadow: 0px 0px 20px 4px #e2e2e240;
}
.option_item {
  transition: all 300ms linear;
  padding: 6px 10px;
}
.option_item:hover {
  background-color: #e9e6e6;
}
.interview_card_spacing {
  padding: 160px 0;
}
.guest_left_vector {
  max-width: 115px;
  position: absolute;
  left: 0;
  top: -30%;
}
.table_border {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 4px;
  border: 1px solid rgba(151, 203, 252);
  overflow: hidden;
}
/* --------------------------take quiz --------------------------------------- */
.take_quiz {
  background: linear-gradient(133.83deg, #00b9ff 3.77%, #6f69f2 81.07%);
  padding: 116px 0px;
}

.did_you_know {
  max-width: 478px;
}

.start_btn_clr {
  background: -webkit-linear-gradient(311.05deg, #6f69f2 0%, #00b9ff 155.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start_btn {
  width: 125px;
  height: 52px;
  border-radius: 8px;
}

.transition_300 {
  transition: 300ms linear;
}

.laptop {
  max-width: 685px;
}

/* --------------------------------------------podcast compare -------------------------------- */
.pc_blue_ellipse {
  bottom: -46%;
  right: -12%;
}

.pc_lines_vec {
  max-width: 115px;
  right: -12%;
}

.podcast_compare_section {
  padding: 0px 0px 171px 0px;
}

.podcast_graph {
  max-width: 573px;
  box-shadow: 0px 4px 20px 0px #06060614;
  border-radius: 24px;
}

.poadcast_group_th {
  width: 264px;
  height: 37px;
}

.bg_episode {
  background: linear-gradient(311.05deg, #6f69f2 0%, #00b9ff 155.6%);
}

.radius_4_left {
  border-radius: 4px 0px 0px 0px;
}

.radius_4_right {
  border-radius: 0px 4px 0px 0px;
}

.td_border {
  border-left: 1px solid rgba(151, 203, 252);
}

.td_bg_clr {
  background-color: rgb(239, 241, 254);
}

.td_clr {
  color: #43464d;
}

.bottom_l_radius {
  border-bottom-left-radius: 4px;
}

.bottom_r_radius {
  border-bottom-right-radius: 4px;
}

.data_provided_by {
  background: linear-gradient(311.05deg, #6f69f2 0%, #00b9ff 155.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* -----------------------------------------------------poadcast guesting ----------------------------------------------- */
.people {
  border-bottom: 1px solid #6f69f2;
}
.abs_text {
  left: -75px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
.ws_nowrap {
  white-space: nowrap;
}

.podcast_guesting_circle {
  max-width: 322px;
}

.mw_451 {
  max-width: 451px;
}

.seeking_guest_box {
  border: 1px solid #00b9ff;
  padding: 16px 24px;
  max-width: 224px !important;
  width: 100%;
  height: 106px;
  border-radius: 16px;
}

.clr_purple {
  color: rgba(111, 105, 242, 1);
  text-decoration: underline !important;
  transition: all 300ms linear;
}

.scerious_podcast {
  max-width: 498px;
}

.chance_3 {
  max-width: 163px !important;
  height: 106px;
}

.podcast_guesting {
  max-width: 485px;
}
.py_7 {
  padding: 7px 0px;
}
/* -------------------------------------------------------activity establish -------------------------------------------- */
.aep_blue_elipse {
  bottom: -58%;
  right: -12%;
  max-width: 115%;
}
.industry_elipse {
  bottom: -14%;
  right: -5%;
  width: 322px;
  background-color: #00b9ff;
  opacity: 0.1;
  filter: blur(60px);
}
.chance_elipse {
  bottom: -5%;
  left: 5%;
  width: 256px;
  height: 210px;
  background: #6f69f2;
  opacity: 0.1;
  filter: blur(60px);
}

.aep_lines_vec {
  top: -18%;
  right: 0;
  max-width: 115px;
}
.compare_lines_vec {
  top: -10%;
  right: 0%;
  max-width: 115px;
}
.compare_left_vector {
  top: 25%;
  left: -3%;
  width: 83px !important;
  height: 359px !important;
}
.aep_chart {
  box-shadow: 0px 4px 20px 0px rgba(6, 6, 6, 0.08);
}

.activity_heading {
  max-width: 485px;
}

.activity_establish_chart {
  max-width: 573px;
  border-radius: 24px;
}

.activity_establish_sec {
  padding-top: 228px;
  padding-bottom: 172px;
}

.less_than {
  max-width: 525px;
}

.host_box {
  box-shadow: 0px 0px 107px 0px rgba(0, 0, 0, 0.1);
  border-radius: 9.5px;
  width: 139px;
  height: 80px;
}

.hosts {
  left: 10%;
}

.guests {
  right: 5%;
  bottom: 10%;
}

/*--------------------------------------------------------- podcast hosting provider ---------------------------------------------*/
.ph_provider_sec {
  padding-top: 150px;
}

.ph_provider_heading {
  max-width: 633px;
}

.looking_switch {
  max-width: 606px;
}

.here_choice {
  background: -webkit-linear-gradient(311.05deg, #6f69f2 0%, #00b9ff 155.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.guesting_box {
  box-shadow: 0px 0px 20px 4px #e2e2e240;
  border-radius: 24px;
  max-width: 570px;
  width: 100%;
  height: 438px;
}
/* -------------------------------------------------------------table --------------------------------------------- */
.rank {
  max-width: 70px;
}

.rank_change {
  max-width: 158px;
}

.hosting_provider {
  max-width: 336px;
}

.all {
  max-width: 119px;
}

@media (max-width: 1199.98px) {
  .podcast_graph {
    max-width: 473px;
  }
}

@media (max-width: 991.98px) {
  .podcast_guesting {
    max-width: 100%;
  }
  .aep_blue_elipse {
    bottom: -28% !important;
    right: 7% !important;
    max-width: 115%;
  }
  .ph_provider_sec {
    padding-top: 80px;
  }

  .activity_heading {
    max-width: 100%;
  }

  .activity_establish_sec {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .podcast_gathering_circle {
    margin-top: 112px;
  }

  .scerious_podcast {
    max-width: 603px;
  }

  .podcast_gathering {
    max-width: 100%;
  }

  .take_quiz {
    padding: 80px 0px;
  }

  .did_you_know {
    max-width: 680px;
  }

  .your_podcast_compared {
    max-width: 565px;
  }

  .podcast_compare_section {
    padding-top: 0px;
    padding-bottom: 86px;
  }

  .podcast_graph {
    max-width: 573px;
  }

  .mt_lg_166 {
    margin-top: 112px;
  }
  .guest_left_vector {
    max-width: 115px;
    position: absolute;
    left: -5%;
    top: -30%;
  }
  .industry_chart_bg {
    padding: 70px 0;
  }
  .failure_text_abs {
    position: absolute;
    bottom: -3%;
    left: 25%;
  }
  .nvd3.nv-pie .nv-pieLabels text {
    font-family: "Graphik";
    font-size: 12px !important;
    font-weight: 300;
    fill: #fff !important;
  }
  .pb_80{
    padding-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .activity_establish_sec {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .take_quiz {
    padding: 64px 0px;
  }

  .start_btn {
    width: 100%;
  }

  .podcast_compare_section {
    padding-bottom: 86px;
  }

  .buzzsuppot {
    max-width: 115px;
  }

  .mt_lg_166 {
    margin-top: 66px;
  }
}

@media (max-width: 575.98px) {
  .guesting_box {
    box-shadow: 0px 0px 20px 4px #e2e2e240;
    border-radius: 24px;
    max-width: 570px;
    width: 100%;
    height: 278px;
  }
  .podcast_guesting_circle {
    max-width: 205px;
  }
  .chance_elipse {
    bottom: -5%;
    left: -2%;
    width: 162px;
    height: 133px;
    background: #6f69f2;
    opacity: 0.5;
    filter: blur(60px);
  }
  .data_provided_by {
    font-size: 14px;
  }

  .seeking_guest_box {
    max-width: 159px !important;
    height: 117px;
  }

  .buzzsuppot {
    max-width: 115px;
  }

  .hosts{
    max-width: 88.98px;
    height: 51.33px;
    top: 10% !important;
  }
  .guests {
    max-width: 88.98px;
    height: 51.33px;
    bottom: 10% !important;
  }

  .fs_sm_12 {
    font-size: 12px;
  }
  .aep_blue_elipse {
    bottom: -28% !important;
    right: -29% !important;
    z-index: -1;
  }
  .mt_lg_166 {
    margin-top: 40px;
  }
  .height_box {
    height: 93px;
    width: 158px;
  }
  .chart_box {
    height: 300px;
  }
  #chart {
    width: 90%;
  }
  .abs_text {
    left: -95px;
  }
  .pie_chart {
    max-width: 256px;
    width: 100%;
    max-height: 256px;
    height: 100%;
  }
  .industry_chart_bg {
    width: 100%;
    height: 100%;
    padding: 40px 0;
  }
  .failure_text_abs {
    position: absolute;
    bottom: 5%;
    left: 25%;
  }
  .three_lines_abs {
    bottom: 12% !important;
    right: 20% !important;
    max-width: 150px;
    transform: rotate(5deg);
  }
  .single_lines_abs {
    top: 20% !important;
    left: 10% !important;
    max-width: 200px;
  }
  #guesting-chart{
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .chart_verticle_line {
    width: 1px;
    height: 64%;
    background-color: #010101;
    position: absolute;
    left: 50px;
    top: 10%;
  }
}
