.poadcasting_heading {
    max-width: 526px !important;
}

.poadcasting_para {
    max-width: 546px !important;
}

.poadcasting_p {
    padding: 0px 0px 174px 0px;
}

.select_bg {
    background-color: #e9e6e6;
    border: 1px solid #d2cfcf;
    border-radius: 4px;
    color: #474646;
    padding: 6.5px 11.5px !important;
}


.active_box {
    border: 1px solid #00B9FF;
    padding: 16px 24px;
    width: 176px !important;
    border-radius: 16px;
}

.total_box {
    border: 1px solid #00B9FF;
    padding: 16px 20px;
    width: 203px !important;
    border-radius: 16px;
}


.gap_32 {
    gap: 32px;
}

.gradient_text {
    background: linear-gradient(311.05deg, #6F69F2 0%, #00B9FF 155.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width:991.98px) {
    .podcasting_chart {
        max-width: 800px !important;
    }
}