.poadcasting_heading {
    max-width: 526px !important;
}

.poadcasting_para {
    max-width: 546px !important;
}

.poadcasting_p {
    padding: 0px 0px 174px 0px;
}

.possible_heading {
    max-width: 539px !important;
}

.chances_heading {
    max-width: 532px !important;
}

.gradient_para_width {
    max-width: 432px;
}

.select_bg {
    background-color: #e9e6e6;
    border: 1px solid #d2cfcf;
    border-radius: 4px;
    color: #474646;
}

.active_box {
    border: 1px solid #00B9FF;
    padding: 16px 24px;
    max-width: 176px !important;
    width: 100%;
    border-radius: 16px;
}

.total_box {
    border: 1px solid;
    border-image-source: linear-gradient(311.05deg, #8C69F2 10.42%, #00B9FF 18.1%, #6F69F2 59.98%, #00B9FF 86.54%, #00B9FF 140.51%);
    background-color: transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(311.05deg, #8C69F2 10.42%, #00B9FF 18.1%, #6F69F2 59.98%, #00B9FF 86.54%, #00B9FF 140.51%);
    background-clip: content-box, border-box;
    max-width: 205px !important;
    border-radius: 16px;
}

.gap_32 {
    gap: 32px;
}

.gradient_text {
    background: linear-gradient(311.05deg, #6F69F2 0%, #00B9FF 155.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.future_sec_p {
    padding: 0px 0px 257px 0px;
}

.arrow_width {
    width: 106px;
    margin: 25px 0px 0px -20px;
}

.chances_table {
    max-width: 558px;
}

/*============================ ellipse ============================*/
.podcasting_industries_ellipse {
    top: -75% !important;
}

.your_podcast_right_vec {
    top: 50%;
    right: 0;
    max-height: 484px;
}

.chances_left_vector {
    top: -60%;
    max-height: 484px;
}

.possible_future_ellipse {
    top: 20%;
}

/*============================ card ===========================*/
.impactful_card {
    max-width: 1140px;
    width: 100%;
    background: linear-gradient(133.83deg, #00B9FF 3.77%, #6F69F2 81.07%);
    border: 4px solid white;
    border-radius: 32px;
    min-height: 318px;
    transform: translateY(50%);
    box-shadow: 0px 12px 30px 0px #706AF34D;
    padding: 54.5px 36px;
}

.gradient_btn {
    border: 1px solid #FFFFFF;
    background: linear-gradient(102.79deg, #00C2CB 2.64%, #01BAFF 98.35%);
    border-radius: 57px;
    padding: 16px 28px;
    transition: all 300ms linear;
}

.gradient_btn:hover {
    background: #fff;
    color: #010101;
}

/*============================ footer =============================*/
.footer_links {
    margin-top: 14px !important;
}

.footer_padding {
    padding: 257px 0px 0px 0px;
}

.footer_bg {
    background: #ebecef;
}

.footer_logo {
    max-width: 227px !important;
}

.footer_para {
    max-width: 324px;
}

.w_24 {
    width: 24px !important;
}

.max_w_207 {
    max-width: 207px !important;
}

.footer_icons_gap {
    gap: 19px;
}

.footer_icon {
    width: 32px;
    height: 32px;
    transition: all 300ms linear;
}

.footer_icon:hover {
    transform: translateY(-5px);
    scale: 1.1;
}

.footer_line {
    border-top: 2px solid #dfdfef;
}


/*=================================== media-screen =====================================*/

@media (max-width:991.98px) {
    .footer_para {
        max-width: 378px;
    }

    .footer_padding {
        padding-top: 356px;
    }

    .possible_future_ellipse {
        top: 10%;
    }

    .podcasting_industries_ellipse {
        top: -40% !important;
    }

    .your_podcast_right_vec {
        top: 25%;
        right: 0;
        max-height: 389px;
    }

    .chances_left_vector {
        top: -9%;
        max-height: 359px;
    }

    .future_sec_p {
        padding: 0;
    }

    .podcasting_chart {
        max-width: 800px !important;
    }

    .poadcasting_para {
        max-width: 575px !important;
    }

    .poadcasting_p {
        padding: 0px 0px 110px 0px;
    }

    .impactful_card {
        padding: 50px 37px;
        transform: translateY(58%);
    }
}

@media (max-width:575.98px) {
    .gap_32 {
        gap: 24px !important;
    }

    .poadcasting_p {
        padding: 0px 0px 80px 0px;
    }

    .footer_para {
        max-width: none;
    }

    .footer_padding {
        padding-top: 326px;
    }

    .impactful_card {
        padding: 70px 52px;
        transform: translateY(51%);
    }
}