.max_width {
  max-width: 1440px;
  margin: 0px auto;
}

.translate_y {
  transform: translateY(-1.5px);
}

.opacity_70 {
  opacity: 70%;
}

.table_radius {
  border-radius: 0px 4px 4px 4px;
}

.mb_3 {
  margin-bottom: 3px;
}

.py_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table_shadow {
  box-shadow: 4px 4px 20px 0px #d4d4d440;
}

.line_right_podcast_table {
  top: -43px;
}

.line_right_second_podcast_table {
  top: 90%;
}

.line_left_podcast_table {
  top: 44%;
  left: 0px;
}

.support_table table {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 4px;
  border: 1px solid rgba(151, 203, 252);
  /* overflow: hidden; */
  max-width: 903px;
}

.blur_ellipse {
  opacity: 10%;
  filter: blur(100px);
  border-radius: 60%;
}

.pink_blur_ellipse {
  width: 258px;
  height: 212px;
  background-color: #6f69f2;
}

.sky_blur_ellipse_right_table {
  width: 409px;
  height: 336px;
  background-color: #00c2cb;
}

.sky_blur_second_ellipse_right_table {
  width: 258px;
  height: 212px;
  background-color: #00c2cb;
}

.pink_blur_left_position {
  left: 73px;
  top: 66%;
}

.sky_blur_right_position {
  right: 10px;
  top: 33%;
}

.sky_blur_second_right_position {
  right: 40px;
  top: 92%;
}

#back-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
  font-family: "poppins";
  font-weight: 800;
  background-color: #313ef7;
  z-index: 100;
  outline: 1px solid white;
}

.back_top_img {
  height: 40px;
  width: 40px;
}

#back-top:hover {
  background-color: black;
}

.table_gradient_color {
  background: linear-gradient(311.05deg,
      rgba(111, 105, 242, 0.1) 0%,
      rgba(0, 185, 255, 0.1) 155.6%);
}

.bg_impactful_card {
  background: linear-gradient(to bottom, #fff 50%, #ebecef 50%);
}

.border_top {
  border-top: 2px solid #6f69f21a;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.transition_100 {
  transition: all linear 100ms;
}

.transition_200 {
  transition: all linear 200ms;
}

/*============================== poadcasting industries section  ===================*/
.poadcasting_heading {
  max-width: 526px !important;
}

.poadcasting_para {
  max-width: 553px !important;
}

.poadcasting_p {
  padding: 0px 0px 150px 0px;
}

.possible_heading {
  max-width: 539px !important;
}

.chances_heading {
  max-width: 532px !important;
}

.gradient_para_width {
  max-width: 432px;
}

.select_bg {
  width: 162px;
  padding: 6px 11px;
  background-color: #e9e6e6;
  border: 1px solid #d2cfcf;
  border-radius: 4px;
  color: #474646;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/assets/images/webp/select_arrow.webp");
  background-size: 9px 5px;
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
}

.active_box {
  border: 1px solid #00b9ff;
  padding: 16px 24px;
  width: 100%;
  border-radius: 16px;
  max-width: 181px;
  box-shadow: 12px 12px 12px 0px #fcfeff;
}

.total_box {
  border: 1px solid #6F69F2;
  background-color: transparent;
  background-clip: content-box, border-box;
  max-width: 205px !important;
  min-width: 181px !important;
  border-radius: 16px;
  box-shadow: 12px 12px 20px 0px #fcfeff;
}

.gap_32 {
  gap: 32px !important;
}

.gradient_text {
  background: linear-gradient(311.05deg, #6f69f2 0%, #00b9ff 155.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.podcasting_chart {
  max-width: 522px !important;
}

.td_gradient {
  background: linear-gradient(311.05deg,
      rgba(111, 105, 242, 0.1) 0%,
      rgba(0, 185, 255, 0.1) 155.6%);
}

/* ================ future sec ===================== */

.future_sec_p {
  padding: 0px 0px 152px 0px;
}

.arrow_width {
  width: 106px;
  margin: 25px 0px 0px -20px;
}

.chances_table {
  max-width: 558px;
}

.possible_future_chart {
  max-width: 494px;
}



/*============================ ellipse ============================*/
.podcasting_industries_ellipse {
  bottom: -75% !important;
}

.your_podcast_right_vec {
  top: 50%;
  right: 0;
  max-height: 484px;
}

.chances_left_vector {
  top: -60%;
  max-height: 484px;
}

.possible_future_ellipse {
  top: 20%;
}

.faq {
  z-index: 5;
}

/*============================ card ===========================*/

.impactful_card {
  max-width: 1140px;
  width: 100%;
  background: linear-gradient(133.83deg, #00b9ff 3.77%, #6f69f2 81.07%);
  border: 4px solid white;
  border-radius: 32px;
  min-height: 318px;
  /* transform: translateY(50%); */
  box-shadow: 0px 12px 30px 0px #706AF34D;
  padding: 45px 36px;
  /* margin-top: -230px !important; */
}

.gradient_btn {
  border: 1px solid #ffffff;
  background: linear-gradient(102.79deg, #00c2cb 2.64%, #01baff 98.35%);
  border-radius: 57px;
  padding: 15px 28px;
}

.gradient_btn:hover {
  transform: scale(1.05);
}

.card_p {
  padding: 0px 12px;
}

/*============================ footer =============================*/
.footer_links {
  margin-top: 14px !important;
}

.footer_padding {
  padding: 55px 0px 0px 0px;
}

.footer_bottom_spacing {
  padding-bottom: 41px;
}

.footer_bg {
  background: #ebecef;
}

.footer_logo {
  max-width: 227px !important;
  max-height: 42px;
}

.footer_para {
  max-width: 324px;
}

.w_24 {
  width: 24px !important;
}

.max_w_207 {
  max-width: 207px !important;
}

.footer_icons_gap {
  gap: 19px;
}

.footer_icon {
  width: 32px;
  height: 32px;
  transition: all 300ms linear;
}

.footer_icon:hover {
  transform: translateY(-5px);
  scale: 1.1;
}

.links_hov:hover {
  color: var(--clr-skyblue);
}

.links_hov:hover img {
  scale: 1.2;
}

.vctr_faq {
  left: 0;
  bottom: 13%;
}

.accordion-item .active-text .accordion_heading {
  color: black;
}

.accordion_heading {
  color: #010101;
  opacity: 80%;
}

.looking_switch {
  color: #444444;
  max-width: 606px;
}

.here_choice {
  background: -webkit-linear-gradient(311.05deg, #428af8 0%, #4b84f7 155.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1279.98px) {
  #back-top {
    right: 20px;
    bottom: 54px;
  }

  .line_left_podcast_table {
    left: -30px;
    max-width: 85px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .support_table table {
    max-width: 615px;
  }

  .max_w_630 {
    max-width: 630px;
  }

  .line_right_second_podcast_table {
    max-width: 85px;
  }

  .vctr_faq {
    left: 0px;
    bottom: 43%;
    width: 70px;
  }
}

@media (max-width:991.98px) {

  .vctr_faq {
    left: -50px;
    bottom: -80%;
  }

  .footer_para {
    max-width: 645px;
  }

  .footer_padding {
    padding-top: 10px;
  }

  .possible_future_ellipse {
    top: 10%;
  }

  .podcasting_industries_ellipse {
    top: -40% !important;
  }

  .your_podcast_right_vec {
    top: 25%;
    right: 0;
    max-height: 389px;
  }

  .chances_left_vector {
    top: -9%;
    max-height: 359px;
  }

  .future_sec_p {
    padding: 0;
  }

  .poadcasting_para {
    max-width: 575px !important;
  }

  .poadcasting_p {
    padding: 0px 0px 110px 0px;
  }

  .impactful_card {
    padding: 49px 37px;
    /* transform: translateY(58%); */
  }

  .podcasting_chart {
    margin-top: 60px;
  }

  .impactful_card h3 {
    max-width: 521px;
  }

  .line_right_second_podcast_table {
    top: 93%;
  }

  .active_box {
    padding: 15px 24px;
    max-width: 256px;
    width: 100%;
    /* min-width: 256px; */
  }

  .total_box {
    max-width: 256px !important;
    width: 100%;
    /* min-width: 256px !important; */
  }

  /* .independent_future {
    margin-top: 74px;
  } */

  .chances_heading {
    max-width: 600px !important;
  }

  .arrow_width {
    margin: 15px 0px 0px -20px;
  }

  .chances_table {
    max-width: 720px;
    width: 100%;
  }

  .font_xl {
    font-size: 24px;
  }
}

@media (max-width: 767.98px) {
  .footer_links {
    margin-top: 8px !important;
  }

  #back-top {
    right: 20px;
    bottom: 20px;
  }

  /* .total_box {
    max-width: 160px !important;
  } */

  .gradient_btn {
    margin-top: 40px;
  }
}

@media (max-width: 575.98px) {
  #back-top {
    right: 10px;
    bottom: 10px;
  }

  .footer_icon {
    width: 30px;
    height: 30px;
  }

  .footer_icons_gap {
    gap: 18px;
  }

  .gap_32 {
    gap: 24px !important;
  }

  .poadcasting_p {
    padding: 0px 0px 80px 0px;
  }

  .footer_para {
    max-width: none;
  }

  .impactful_card {
    padding: 56px 16px;
    border-radius: 24px;
    /* transform: translateY(51%); */
  }

  .card_p {
    padding: 0px 20px;
  }

  .podcasting_chart {
    margin-top: 40px;
  }

  .back_top_img {
    height: 35px;
    width: 35px;
  }

  .fs_base {
    font-size: 16px;
  }

  .font_xl {
    font-size: 20px;
  }

  .footer_padding {
    padding-top: 51px;
  }

  .arrow_width {
    width: 58px;
    margin: 13px 35px 0px 0px;
  }

  .gap_22 {
    gap: 19px !important;
  }

  .active_box {
    padding: 16px;
    max-width: 158px;
    width: 100%;
  }

  .total_box {
    max-width: 158px !important;
    width: 100%;
    min-width: 158px !important;
  }
}