* {
  list-style-type: none !important;
  text-decoration: none !important;
}

/* ---------- font-family -------------  */
@font-face {
  font-family: graphik;
  src: url("../fonts/GraphikBlack.otf");
  font-weight: 900;
}

@font-face {
  font-family: graphik;
  src: url("../fonts/GraphikBold.otf");
  font-weight: 700;
}

@font-face {
  font-family: graphik;
  src: url("../fonts/GraphikSemibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: graphik;
  src: url("../fonts/GraphikMedium.otf");
  font-weight: 500;
}

@font-face {
  font-family: graphik;
  src: url("../fonts/GraphikRegular.otf");
  font-weight: 400;
}

.ff_graphik {
  font-family: "Graphik" !important;
}

.ff_graphik {
  font-family: "Graphik" !important;
}

:root {
  /* --------font sizes --------------- */
  --fs-5xl: 48px;
  --fs-4xl: 40px;
  --fs-3xl: 36px;
  --fs-2xl: 32px;
  --fs-xl: 24px;
  --fs-lg: 20px;
  --fs-md: 18px;
  --fs-sm: 16px;
  --fs-xsm: 14px;
  /* ------------colors----------------- */
  --clr-black: #010101;
  --clr-grey: #4d4d4d;
  --tundora: #4E4E4E;
  --clr-offwhite: #fefefe;
  --clr-skyblue: #00b9ff;
  --clr-seagreen: #0bb2b9;
  --clr-darkgrey: #474646;
  --clr-offgrey: #4444;
  --clr-green: #44dc59;
  --clr-red: #ff4d4d;
  --clr-lightblack: #343434;
  --clr-light-grey: #45474A;
}

/* ------------font classes ------------ */
.fs_5xl {
  font-size: var(--fs-5xl);
}

.fs_4xl {
  font-size: var(--fs-4xl);
}

.fs_3xl {
  font-size: var(--fs-3xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_xsm {
  font-size: var(--fs-xsm);
}

/* ------------ colors classes ------------- */
.clr_black {
  color: var(--clr-black);
}

.clr_grey {
  color: var(--clr-grey);
}

.clr_darkgrey {
  color: var(--clr-darkgrey);
}

.clr_offwhite {
  color: var(--clr-offwhite);
}

.clr_skyblue {
  color: var(--clr-skyblue);
}

.clr_seagreen {
  color: var(--clr-seagreen);
}

.clr_red {
  color: var(--clr-red);
}

.clr_green {
  color: var(--clr-green);
}

.clr_offgrey {
  color: var(--clr-offgrey);
}

.clr_lightblack {
  color: var(--clr-lightblack);
}

.clr_lightgrey {
  color: var(--clr-light-grey);
}
.bg_red{
  background-color: var(--clr-red);
}

.clr_tundora {
  color: var(--tundora);
}

/* ------------- line heights ------------- */
.lh_120 {
  line-height: 120%;
}

.lh_110 {
  line-height: 110%;
}

.lh_130 {
  line-height: 130%;
}

.lh_150 {
  line-height: 150%;
}

/* ----------- custom-container --------------- */
.custom_container {
  max-width: 1164px;
  margin: 0 auto;
  padding: 0 12px;
}

@media (max-width: 991.98px) {
  :root {
    /* --------font sizes --------------- */
    --fs-5xl: 40px;
    --fs-3xl: 32px;
    --fs-md: 16px;
  }

  .custom_container {
    padding: 0 48px;
  }

}

@media (max-width: 575.98px) {
  .custom_container {
    padding: 0 20px;
  }

  :root {
    /* --------font sizes --------------- */
    --fs-5xl: 28px;
    --fs-4xl: 26px;
    --fs-3xl: 28px;
    --fs-2xl: 24px;
    --fs-xl: 20px;
    --fs-md: 14px;
    --fs-sm: 14px !important;
  }
}