.custom-dropdown-menu {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
}

.custom-dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.line_height_24 {
    line-height: 24px;
}

.start_btn_hover:hover {
    transform: scale(1.1);
}

.podcast_report_heading {
    max-width: 775px;
}

.nav_dropbtn:hover {
    color: #6F69F2;
}

.transition_03 {
    transition: all 0.3s ease-in-out;
}

.bttn_login:hover {
    color: #6F69F2;
}

@media (max-width: 1199.98px) {
    .card_main {
        height: 302px;
        justify-content: space-between !important;
    }
}

@media (max-width: 991.98px) {

    .dropbtn,
    .bttn_login_sm,
    .bttn_rsg_sm {
        font-size: 20px !important;
    }

    .card_main {
        min-height: 251px;
    }
}

@media (max-width: 575.98px) {
    .card_main {
        height: auto;
    }

    .txt_hdng_clr {
        font-size: 32px;
    }

    .podcast_report_heading {
        max-width: 360px;
    }
}