.nav_space {
  padding-top: 18px;
  padding-bottom: 18px;
}
.space_ul_nav {
  gap: 21px;
}
.bttn_login {
  background-color: transparent;
  border: none;
  margin-right: 18px;
}
.bttn_rsg {
  border-radius: 100px;
  border: none;
  background-color: #6f69f2;
  padding: 10px 25px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

li:hover .dropdown-content {
  display: block;
}

.take_quiz {
  background: linear-gradient(133.83deg, #00b9ff 3.77%, #6f69f2 81.07%);
  padding: 116px 0px;
}
.did_you_know {
  max-width: 478px;
}
.start_btn_clr {
  background: -webkit-linear-gradient(311.05deg, #6f69f2 0%, #00b9ff 155.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.start_btn {
  width: 125px;
  height: 52px;
  border-radius: 8px;
}
.start_btn_hover:hover .start_btn_clr {
  -webkit-box-shadow: 2px 14px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 14px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 14px 5px -4px rgba(0, 0, 0, 0.75);
}
.transition_300 {
  transition: 300ms linear;
}
.laptop {
  max-width: 685px;
}
.bttn_nav {
  background-color: transparent;
  border: none;
}
.bttn_nav .nav-line {
  border: 1px solid black;
  display: flex;
  justify-content: start !important;
  align-items: start !important;
  width: 20px; /* Adjusted width */
  background-color: black;
  margin-bottom: 4.5px;
  border-radius: 100px;
}

.new_hamburger_line {
  border: 1px solid black;
  display: flex;
  width: 100%; /* Full width */
  background-color: black;
  margin-bottom: 4.5px;
  border-radius: 100px;
  transform: translateX(-2px);
}

.bttn_nav .nav-lines {
  border: 1px solid black;
  display: flex;
  justify-content: flex-end; /* Adjusted alignment */
  align-items: flex-end; /* Adjusted alignment */
  width: 20px; /* Adjusted width */
  background-color: black;
  margin-bottom: 0;
  border-radius: 100px;
}

.poadcasting_heading {
  max-width: 526px !important;
}

.poadcasting_para {
  max-width: 546px !important;
}

.poadcasting_p {
  padding: 0px 0px 174px 0px;
}

.select_bg {
  background-color: #e9e6e6;
  border: 1px solid #d2cfcf;
  border-radius: 4px;
  color: #474646;
  padding: 6.5px 11.5px !important;
}

.active_box {
  border: 1px solid #00b9ff;
  padding: 16px 24px;
  width: 176px !important;
  border-radius: 16px;
}

.total_box {
  border: 1px solid #00b9ff;
  padding: 16px 20px;
  width: 203px !important;
  border-radius: 16px;
}

.gap_32 {
  gap: 32px;
}

.gradient_text {
  background: linear-gradient(311.05deg, #6f69f2 0%, #00b9ff 155.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------------podcast compare ----------- */

.podcast_compare_section {
  padding: 162px 0px;
}
.podcast_graph {
  max-width: 573px;
  box-shadow: 0px 4px 20px 0px #06060614;
}
/* -----------------back to top ---------------- */
#button {
  display: inline-block;
  background: linear-gradient(311.05deg, #6f69f2 0%, #00b9ff 155.6%);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1023.98px) {
  .nav_bar {
    position: fixed;
    top: 0 !important;
    left: -100%;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 300ms linear;
  }
  .left-0 {
    left: 0;
  }
  .overflow_hidden {
    overflow: hidden !important;
    height: 100vh;
  }
  .d_none {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .podcasting_chart {
    max-width: 800px !important;
  }
  .take_quiz {
    padding: 80px 0px;
  }
  .did_you_know {
    max-width: 680px;
  }
}
@media (max-width: 767.98px) {
  .take_quiz {
    padding: 64px 0px;
  }
  .start_btn {
    width: 100%;
  }
}
@media (min-width: 575.98px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
